*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container{
  padding: 40px 0;
  display: grid;
  place-items: center;
  height: 100dvh;
}

.title h1{
  font-size: 2em;
}

.num-input{
  border: 1px dotted black;
  padding: 1em;
}
.top{
  margin-bottom: 1.8rem;
  display: flex;
  gap: 1em;
}
.top input{
  padding: .8em .8em;
}

.bottom button{
  width: 100%;
  padding: .8em .2em;
}