*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.main-container {
  width: 100%;
  max-width: 500px;
}
.title h1{
  font-size: 2em;
  margin-bottom: 40px;
  text-align: center;
}

.num-input{
  border: 1px dotted black;
  padding: 1em;
}
.top{
  margin-bottom: 1.8rem;
  display: flex;
  gap: 1em;
}
.top input{
  padding: .8em .8em;
  width: 100%;
}
select{
  width: 100%;
}

.bottom button{
  width: 100%;
  padding: .8em .2em;
}

.output{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 0rem;
}

.col-left,
.col-ri{
  padding: 10px;
  line-height: 2rem;
}

